.inputcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titlecontainer {
  width: 100%;
}

.categorycontainer {
  width: 100%;
}

.authorContainer {
  width: 100%;
}

.title {
  width: 100%;
}

.category {
  width: 100%;
}

.addbtn {
  width: 10rem;
  height: 3rem;
  color: #fff;
  background-color: rgba(68, 148, 223, 0.945);
  border: none;
}

.author {
  width: 100%;
}

.title,
.category,
.author {
  height: 3rem;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: solid 1px #d3d3d3;
  border-radius: 3px;
}

button {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .inputcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .createsection {
    padding: 0 6% 6% 6%;
  }

  .titlecontainer {
    width: 80%;
  }

  .addheader {
    color: #8a8a8a;
  }

  .categorycontainer {
    width: 60%;
  }

  .err {
    color: red;
  }

  .title {
    width: 100%;
  }

  .category {
    width: 100%;
  }
}
