.headercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parentcontainer,
.child {
  gap: 0.6rem;
}

.route {
  color: #9b9a9a;
}

.overall {
  background-color: rgb(247, 247, 247);
  box-shadow: 1px 1px 3px #5c5c5c;
}

.fa-solid {
  border: solid 3px rgb(97, 177, 252);
  border-radius: 50%;
  padding: 0.5rem;
}

.route:focus {
  color: #333;
}

.parent {
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 5px #afafaf;
}

@media screen and (min-width: 768px) {
  .headercontainer {
    flex-direction: row;
    align-items: baseline;
  }

  .parentcontainer,
  .child {
    margin-right: auto;
    gap: 2.2rem;
  }
}
