@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: 0.5s;
}

li {
  list-style: none;
}

body {
  padding: 5% 6%;
  background-color: rgba(0, 0, 0, 0.05);
}

.links {
  text-decoration: none;
}
